---
default:
  interruptible: true

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never

    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: $CI_PIPELINE_SOURCE == "web"

stages:
  - lint
  - validate
  - security

include:
  - local: '.gitlab/ci/yamllint.yml'
  - local: '.gitlab/ci/terraform.yml'
  - local: '.gitlab/ci/kubeconform.yml'
  - local: '.gitlab/ci/checkov.yml'
