workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: always

    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: always

    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: never

stages:
  - validate
  - security

include:
  - local: '.gitlab/ci/terraform.yml'
  - local: '.gitlab/ci/kubeconform.yml'
  - local: '.gitlab/ci/checkov.yml'
