stages:
  - validate
  - security

terraform_validate:
  stage: validate
  image:
    name: hashicorp/terraform:1.14
    entrypoint: [""]
  script:
    - cd infrastructure/environments/prod
    - terraform init -backend=false
    - terraform validate
    - terraform fmt -check -recursive ../../

checkov_scan:
  stage: security
  image:
    name: bridgecrew/checkov:3.2.495
    entrypoint: [""]
  script:
    - checkov -d . --framework terraform,kubernetes,helm --soft-fail
  artifacts:
    when: always
    paths:
      - checkov_reports.xml
    reports:
      junit: checkov_reports.xml
