repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks

  - repo: https://gitlab.com/vojko.pribudic.foss/pre-commit-update
    rev: v0.9.0
    hooks:
      - id: pre-commit-update
        args: [--dry-run]

  -   repo: https://github.com/jorisroovers/gitlint
      rev:  v0.19.1
      hooks:
      -   id: gitlint
