---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: flux-system
spec:
  interval: 5m0s
  values:
    controller:
      service:
        type: LoadBalancer
        # Set static IP for LoadBalancer
        loadBalancerIP: "10.0.50.220"
        annotations:
          io.cilium/lb-ipam-pool: "staging-pool"

        ports:
          http: 80
          https: 443
