apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: flux-system
spec:
  interval: 1h
  chart:
    spec:
      chart: ingress-nginx
      version: "4.14.0"
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: flux-system

  targetNamespace: ingress-nginx
  install:
    createNamespace: true
    crds: CreateReplace
  upgrade:
    crds: CreateReplace

  values:
    controller:
      service:
        ports:
          http: 80
          https: 443

      kind: DaemonSet
      hostNetwork: false # Cilium Service, doesn't need hostNetwork

      ingressClassResource:
        name: nginx
        enabled: true
        default: true
        controllerValue: "k8s.io/ingress-nginx"

      config:
        use-forwarded-headers: "true"
